<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>새 글 등록</title>
</head>
<body>
<h1>게시글 등록</h1>
<form th:action="insertboard" method="post">
    <table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
        <tr>
            <td bgcolor="orange" th:text="제목" width="80"></td>
            <!--
            [클라이언트]name="title" 은 [서버] 에서 데이터 매개변수를 받기 위한 변수명 (key)
            -->
            <td><input name="title" type="text" size="50"></td>
        </tr>
        <tr>
            <td bgcolor="orange" th:text="작성자"></td>
            <td><input name="writer" type="text" size="10" th:value="${loginuser.getId()}"></td>
            <td><select name="category">
                <option value="자유">자유</option>
                <option value="게임">게임</option>
                <option value="차량">차량</option>
                <option value="만화">만화</option>
            </select></td>
        </tr>
        <tr>
            <td bgcolor="orange" th:text="내용"></td>
            <td><textarea name="content" cols="50" rows="10"></textarea></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="게시글 등록">
            </td>
        </tr>
    </table>
</form>
<a th:href="@{/getBoardList}">글목록</a>
</body>
</html>