<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/updateaccount(seq=${member.seq})}" method="post">
    <table th:align="center">
        <tr>
            <th>ID</th>
            <th>PASSWORD</th>
            <th>e-mail</th>
            <th>가입일자</th>
        </tr>
        <tr>
            <td><input name="id" type="text" th:value="${member.id}"></td>
            <td><input name="password" type="text" th:value="${member.password}"></td>
            <td><input name="email" type="email" th:value="${member.email}"></td>
            <td th:text="${member.createDate}"></td>
        </tr>
        <tr>
            <td colspan="3"><input type="submit" th:value="수정확인"></td>
        </tr>
    </table>
</form>

<form>
    <table th:align="center">
        <tr>
            <td style="width: 30px">No.</td>
            <td style="width: 80px">카테고리</td>
            <td style="width: 300px">제목</td>
            <td style="width: 80px">작성자</td>
            <td style="width: 50px">등록일</td>
            <td style="width: 50px">조회수</td>
        </tr>
        <tr th:each="board:${boardlist}">
            <td th:text="${board.keyValue}"></td>
            <td th:text="${board.category}"></td>
            <td><a style="display: block;  text-decoration: none; text-align: left; margin-left: 10px"
                   th:href="@{/getboard(KeyValue=${board.keyValue}, linked=false)}"
                   th:text="${board.title}"></a></td>
            <td><a style="display: block;  text-decoration: none; text-align: left; margin-left: 10px"
                   th:href="@{/findboardlist(writer=${board.writer})}"
                   th:text="${board.writer}"></a></td>
            <td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${board.cnt}"></td>
        </tr>
    </table>
</form>



</body>
</html>